.header {
    background-color: var(--main-bg);
    padding: 24px 16px 0 16px;
}

@media all and (max-width:767px) {
    .header {
        padding-top: 16px;
    }
}

.header__heading {
    margin: 0;
    padding-top: 38px;
    padding-bottom: 40px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
}

@media all and (max-width:767px) {
    .header__heading {
        font-size: 28px;
        line-height: 38px;
        font-weight: 400;
        padding: 48px 0px 32px 0px;
        color: var(--font-color);
        margin: 0;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media all and (max-width:767px) {
    .header__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header__logo {
    color: var(--dark-bg);
}
