.tabs {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
overflow: auto;
}

@media all and (max-width:767px) {
.tabs::-webkit-scrollbar {
height: 0px;
width: 0px;
background: transparent;
}
.tabs { 
scrollbar-width: none;
}
}

.tabs__item {
margin-right:40px;
cursor: pointer;
}

@media all and (max-width:767px) {
.tabs__item {
margin-right: 24px;
}
}

.tabs__item:last-child {
margin-right: 0;
}

.tabs__input {
width: 0;
height: 0;
opacity: 0;
pointer-events: none;
outline: none;
position: absolute;
}

.tabs__state {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
}

.tabs__text {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: var(--grey-3);
white-space: nowrap;
}

.tabs__underline {
background: var(--white);
flex: none;
align-self: stretch;
flex-grow: 0;
margin-top: 8px;
height: 5px;
}

.tabs__input:checked ~ .tabs__state .tabs__underline {
background: var(--black);
}

.tabs__input:checked ~ .tabs__state .tabs__text {
color: var(--black);
}

.tabs__input:focus ~ .tabs__state .tabs__text {
text-decoration: underline;
}
