.button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    border-radius: 8px;
    border: none;
}

.button_primary {
    width: 189px;
    height: 48px;
    background: var(--blue);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_secondary {
    width: 189px;
    height: 48px;
    background: var(--purple);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_alternate {
    width: 189px;
    height: 48px;
    background: var(--white-bg);
    color: var(--text-dark);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    transition: opacity 200ms ease-in-out, border-color 200ms ease-in-out;
}

.button_disabled {
    opacity: 0.5;
}

.button_alternate_disabled {
    opacity: 0.3;
}

.button_primary:hover:not(.button_disabled), .button_primary:active:not(.button_disabled), .button_primary:focus:not(.button_disabled) {
    background: #2342C0;
    cursor: pointer;
}

.button_secondary:hover:not(.button_disabled), .button_secondary:active:not(.button_disabled), .button_secondary:focus:not(.button_disabled) {
    background: #5028C6;
    cursor: pointer;
}

.button_alternate:hover:not(.button_alternate_disabled), .button_alternate:active:not(.button_alternate_disabled), .button_alternate:focus:not(.button_alternate_disabled) {
    border: 1px solid var(--text-primary);
    box-sizing: border-box;
    cursor: pointer;
}

.button_preview {
    width: auto;
    min-width: 80px;
    font-size: 15px;
}

.button_modalka {
    display: block;
    width: 52%;
    margin-top: 22px;
}

