html, body {
height: 100%;
}

.page {
background: #F9FAFC;
height: 100%;
display: grid;
grid-template-rows: auto 1fr auto;
width: 100%;
min-width: 220px;
}

.page__box {
max-width: 1110px;
min-width: 220px;
margin: 0 11.5%;
}

.header__container {
display: flex;
justify-content: space-between;
padding-top: 24px;
padding-bottom: 60px;
}

@media all and (max-width:375px) {
.header__container {
justify-content: center;
align-items: center;
padding-top: 16px;
padding-bottom: 16px;
margin: 0;
}
}

.nav {
display: flex;
align-items: center;
padding: 0px;
}

@media all and (max-width:375px) {
.nav {
display: none;
}
}

.nav__item {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: inline-flex;
color: var(--grey-3);
margin-left: 24px;
text-decoration: none;
}

.main {
display: grid;
grid-template-columns: auto 1fr;
column-gap: 56px;
max-width: 1110px;
width: 100%;
justify-self: center;
}

@media all and (max-width:375px) {
.main {
background: var(--white);
display: flex;
justify-content: center;
}
}

.menu {
width: 229px;
}

@media all and (max-width:375px) {
.menu {
display: none;
}
}

.component {
background: var(--white);
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 12px;
}

@media all and (max-width:375px) {
.component {
margin: 0px;
box-shadow: none;
width: 100%;
padding: 0 16px;
}
}

.footer {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--grey-3);
height: 130px;
display: flex;
justify-content: center;
align-items: center;
}

@media all and (max-width:375px) {
.footer {
display: none;
}
}

.component__title-mobile {
display: none;
}

@media all and (max-width: 375px) {
.component__title-mobile {
display: flex;
justify-content: flex-start;
padding: 32px 0 20px 0px;
font-size: 20px;
line-height: 26px;
color: var(--grey-4);
}
}

/* further only copied histogram styles */
.histogram {
background: var(--white);
border: 1px solid var(--grey-3);
box-sizing: border-box;
border-radius: 8px;
padding: 16px 24px 24px 24px;
width: 100%;
min-width: min-content;
}

.histogram__header {
display: flex;
justify-content: space-between;
margin-bottom: 6px;
}

.histogram__title {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--black);
opacity: 0.8;
margin: 0;
}

.histogram__link {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #4263EB;
text-decoration: none;
margin-left: 20px;
}

.histogram__total {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
color: var(--black);
margin-bottom: 39px;
}

.histogram__bars {
display: flex;
flex-direction: row;
justify-content: stretch;
align-items: flex-end;
flex-wrap: nowrap;
height: 50px;
width: 100%;
}

.histogram__bar {
flex: 1 0 auto;
margin-right: 1px;
background: #4263EB;
}
