@import "../header/header.css";
@import "../template/footer/footer.css";
@import "../template/header/header.css";
@import "../template/header/nav/nav.css";
@import "../template/main/main.css";
@import "../template/main/menu/menu.css";
@import "../template/main/component/component.css";
@import "../template/page/page.css";
@import "../../04-lection2/01-histogram/histogram.css";

html, body {
height: 100%;
}

.container-template {
max-width: 1110px;
width: 100%;
margin: 0 auto;
padding: 0 16px;
background-color: var(--grey-1);
}
