.card {
background: var(--white);
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 12px;
padding: 32px 25px;
box-sizing: border-box;
display: flex;
flex-direction: column;
display: none;
position: relative;
text-decoration: none;
}

/* .card__link {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 2;
} */

.card__content {
flex-grow: 1;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
pointer-events: none;
}

.card__checkbox-container, .card__radio-container {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
}

.card__title {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px; 
text-align: center;
color: var(--black);
margin: 25px 0 6px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; 
}

.card__subtitle {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: var(--black);
margin: 0;
}
