/* Стилизация аккордеона */

.accordion {
    box-sizing: border-box;
    width: 100%;
    min-width: 220px;
}

.accordion__item {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__summary {
    font-family: 'Inter', sans-serif;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    color: var(--black);
    outline: none;
}

.accordion__summary:hover {
    cursor: pointer;
}

.accordion__item[open]>.accordion__summary {
    padding-bottom: 0px;
}

.accordion__content {
    font-family: 'Inter', sans-serif;
    padding-top: 16px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 48px;
    color: var(--grey-4);
}

.accordion__arrow {
    width: 26px;
    height: 26px;
    color: var(--grey-4);
    position: absolute;
    top: 24px;
    right: 24px;
}

.accordion__item[open] .accordion__arrow {
    transform: rotate(-180deg);
}
