.preview-flex__container {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0 -16px;
}

@media all and (max-width: 375px) {
.preview-flex__container {
margin: 11.5px 8px 0;
}
}

.preview-flex {
background: #F9FAFC;
padding: 68px 0 204px;
}

@media all and (max-width: 375px) {
.preview-flex {
padding: 0 0 61px;
}
}

.preview-flex__card {
height: 367px;
background: var(--white);
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 12px;
margin: 11.5px 8px 11.5px 8px;
flex-basis: 350px;
display: flex;
justify-content: center;
}

@media all and (max-width: 375px) {
.preview-flex__card {
height: 210px;
flex-basis: 164px;
flex-wrap: wrap;
}
}

.preview-flex__title {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: var(--black);
padding: 312px 0 30px;
}

@media all and (max-width:375px) {
.preview-flex__title {
font-size: 16px;
line-height: 24px;
font-weight: 400;
padding: 12px 0 10px;
}
}

@media all and (max-width:375px) {
.preview-flex__content {
height: 164px;
width: 164px;
border-bottom: 1px solid var(--grey-2);
}
}
