.modalka {
width: 100%;
height: 100%;
display: none;
}

.modalka__background {
width: 100%;
height: 100%;
background: #C4C4C4;
opacity: 0.5;
}

.modalka__area {
width: 428px;
height: 294px;
padding: 30px 40px 33px 40px;
box-sizing: border-box;
background: var(--white);
border-radius: 8px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.modalka__title {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #334D6E;
}

.modalka__content {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--grey-4);
padding-top: 14px;
}

.modalka__cross {
width: 24px;
height: 24px;
position: absolute;
top: 12px;
right: 12px;
cursor: pointer;
}
