.component {
background: var(--white);
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 12px;
padding: 32px 48px 64px 48px;
}

@media all and (max-width:767px) {
.component {
margin: 0px;
box-shadow: none;
width: 100%;
padding: 0 16px;
}
}

.component__title {
display: block;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 38px;
color: var(--grey-4);
padding-bottom: 58px; 
}

@media all and (max-width: 767px) {
.component__title {
display: flex;
justify-content: flex-start;
padding: 32px 0 20px 0px;
font-size: 20px;
line-height: 26px;
color: var(--grey-4);
}
}

.component__code {
margin-top: 64px;
}
