.component {
    background: var(--white-bg);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 32px 0px 64px 0px;
    overflow: hidden;
}

@media all and (max-width:767px) {
    .component {
        margin: 0px;
        box-shadow: none;
        width: 100%;
    }
}

.component__title {
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--font-color);
    padding: 0 48px 58px;
}

@media all and (max-width: 767px) {
    .component__title {
        display: flex;
        justify-content: flex-start;
        padding: 32px 16px 20px 16px;
        font-size: 20px;
        line-height: 26px;
        color: var(--font-color);
    }
}

.component__body {
    padding: 0 48px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media all and (max-width: 767px) {
    .component__body {
        padding: 0px 16px;
    }
}

.component__inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.component__code {
    margin-top: 64px;
}
