.histogram {
background: var(--white-bg);
border: 1px solid var(--grey-3);
box-sizing: border-box;
border-radius: 8px;
padding: 16px 24px 24px 24px;
width: 100%;
min-width: min-content;
}

.histogram__header {
display: flex;
justify-content: space-between;
margin-bottom: 6px;
}

.histogram__title {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--text-primary);
opacity: 0.8;
margin: 0;
}

.histogram__link {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--blue);
text-decoration: none;
margin-left: 20px;
}

.histogram__total {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
color: var(--text-primary);
margin-bottom: 39px;
}

.histogram__bars {
display: flex;
flex-direction: row;
justify-content: stretch;
align-items: flex-end;
flex-wrap: nowrap;
height: 50px;
width: 100%;
animation: appear 0.6s ease-out;
}

@keyframes appear {
    0% {
        transform: scaleY(0);
        transform-origin: bottom center;
    }
    50% {
        transform: scaleY(0);
        transform-origin: bottom center;
    }
    100% {
        transform: scaleY(1);
        transform-origin: bottom center;
    }
}

.histogram__bar {
flex: 1 0 auto;
margin-right: 1px;
background: var(--blue);
}
