:root {
--small-size-avatar-height: 64px;
--small-size-avatar-width: 64px;

--medium-size-avatar-height: 102px;
--medium-size-avatar-width: 102px;

--large-size-avatar-height: 128px;
--large-size-avatar-width: 128px;
}

.avatar_small {
height: var(--small-size-avatar-height);
width: var(--small-size-avatar-width);
}

.avatar_medium {
height: var(--medium-size-avatar-height);
width: var(--medium-size-avatar-width);
}

.avatar_large {
height: var(--large-size-avatar-height);
width: var(--large-size-avatar-width);
}

.avatar__img {
border-radius: 50%;
object-fit: fill;
width: 100%;
height: 100%;
}
