@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --text-primary: var(--black);
    --text-secondary: var(--grey-3);
    --active-text-color: var(--text-primary);
    --input-text: var(--grey-4);
    --input-placeholder: var(--grey-2);

    --main-bg: var(--light-bg);
    --grey-bg: var(--grey-1);
    --white-bg: var(--white);
    --light-bg: var(--white);
    --dark-bg: var(--black);
    --card-bg: var(--white);

    --font-color: var(--text-primary);
    --input-text-color: var(--grey-4);


    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

html {
    background: var(--main-bg);
}

html[data-theme-dark] {
    --main-bg: var(--black);
    --font-color: #ffffff75;
    --dark-bg: var(--grey-1);
    --white-bg: var(--black);
    --light-bg: var(--grey-4);
    --grey-bg: var(--grey-4);
    --card-bg: var(--black);
    --text-primary: var(--white);
    --active-text-color: var(--grey-2);
    --input-text-color: var(--font-color);
    --input-text: var(--grey-1);
    --input-placeholder: var(--grey-4);
}

html[data-theme-dark] .toggler__input:checked ~ .toggler__state .toggler__control-inner {
    background: var(--white);
}