.tooltip {
position: relative;
}

.tooltip__trigger {
cursor: pointer;
height: 24px;
width: 24px;
}

.tooltip_preview {
margin-top: 50px;
}

.tooltip__help {
width: 129px;
height: 45px;
background: #4263EB;
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 10px;
position: absolute;
left: 50%;
top: -100%;
transform: translate(-50%, -50%);
display: none;
}

.tooltip__help_preview {
display: flex;
justify-content: center;
align-items: center;
}

.tooltip__text {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
color: var(--grey-2);
}

.tooltip__help::before {
content: "";
border: 7px solid transparent;
border-top: 5px solid #4263EB;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 100%;
}

.tooltip__trigger:hover ~ .tooltip__help {
display: flex;
justify-content: center;
align-items: center;
}
