.footer {
background: white;
text-align: center;
}

.footer__title {
position: absolute;
width: 111px;
height: 48px;
left: 682px;
top: 1345px;

/* h2 */

font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 48px;
/* identical to box height, or 126% */


/* Black */

color: #212429;
padding-top: 71px;
padding-bottom: 264px;
font-family: 'Inter', sans-serif;
}

.footer__content {
position: absolute;
width: 640px;
height: 96px;
left: 417px;
top: 1425px;

/* p */

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */

/* Black */

color: #212429;
padding-top: 151px;
padding-bottom: 136px;
font-family: 'Inter', sans-serif;
}
