.footer {
background: white;
text-align: center;
max-width: 640px;
margin: 0 auto;
}

.footer__title {
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 48px;

color: #212429;
padding-top: 71px;
font-family: 'Inter', sans-serif;
}

.footer__content {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

color: #212429;
padding-top: 32px;
padding-bottom: 136px;
font-family: 'Inter', sans-serif;
}

@media all and (max-width:767px) {
.footer {
display: none;
}
}
