.mode-switcher {
    display: flex;
    align-items: center;
    padding: 0px;
    margin-left: 24px;
}

@media all and (max-width:767px) {
    .mode-switcher {
        display: none;
    }
}

.mode-switcher__icon {
    color: var(--grey-3);
}
